// 공통요소
.section {
	.orignBtn {
		position: relative; display: flex; justify-content: space-between; align-items: center; width: 166px; height: 48px; padding: 0 20px; transition: all 0.3s ease;

		&::before { content: ''; position: absolute; top: 2px; left: 2px; right: -2px; bottom: -2px; width: 100%; height: 100%; border-radius: 24px; z-index: 1; transition: all 0.3s ease; }
		&::after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: calc(100% - 4px); height: calc(100% - 4px); border-radius: 24px; border:2px solid; z-index: 2; }
		p { position: relative; font-size: 15px; font-weight: 500; z-index: 3; }
		span {
			position: relative; display: flex; justify-content: center; align-items: center; width: 8px; height: 8px; border-radius: 100%; z-index: 3; transition: all 0.3s ease;

			svg { width: 0; transition: all 0.3s ease; }
		}
		&:hover {
			padding: 0 4px 0 20px;

			&::before { top: 6px; left: 6px; right: -6px; bottom: -6px; }
			span {
				width: 40px; height: 40px;

				svg {
					width: 15px;

					.fillColor { fill: var(--colorModeBtnBg); }
					.strokeColor { stroke: var(--colorModeBtnBg); }
				}
			}
		}
		&.orgBtn {
			&::before { background: var(--colorModeBtnColor);}
			&::after { background: var(--colorModeBtnBg); border-color:var(--colorModeBtnColor); }
			p { color: var(--colorModeBtnColor); }
			span { background: var(--colorModeBtnColor); }
      &:hover {
        span {
          svg {
            .fillColor { fill: var(--colorModeBtnBg); }
            .strokeColor { stroke: var(--colorModeBtnBg); }
          }
        }
      }
		}
		&.skyblue {
			&::before { background: var(--colorModeBtnColor2); }
			&::after { background: var(--colorModeBtnBg2); border-color: var(--colorModeBtnColor2); }
			p { color: var(--colorModeBtnColor2); }
			span { background: var(--colorModeBtnColor2); }
      &:hover {
        span {
          svg {
            .fillColor { fill: var(--colorModeBtnBg2); }
            .strokeColor { stroke: var(--colorModeBtnBg2); }
          }
        }
      }
		}
	}
}

.section01 {
  position: relative; height: 780px; background: #ed7b34; overflow: hidden;

  &::before { content: ""; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 120vw; height: 120vw; background: #fff0de; border-radius: 100% / 25%; z-index: 2; }
  &::after { content: ""; position: absolute; left: 50%; top: calc(100% - 8vw); transform: translateX(-50%); width: 350vw; height: 350vw; background: var(--colorf-0); border-radius: 100%; z-index: 1; }
  .txtArea {
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; max-width: 1440px; padding: 0 20px; text-align: center; z-index: 5;

    h2 {
      position: relative; display: inline-flex; align-items: center; flex-direction: row; justify-content: center; flex-wrap: wrap; font-size: 64px; line-height: 1.3; color: #ED7B34;

      span {
        position: relative; display: inline-flex; justify-content: center; align-items: center; width: 48px; height: 48px; font-size: 10px;

        $list: (#FFDD00, #77B3BA, #192227, #FFDD00);
        @for $i from 0 through length($list) - 1 {
          &:nth-child(#{$i + 1})::after {
            content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; border-radius: 100%;
        
            background: nth($list, $i + 1);         
          }
        }
        
      }
    }
  }
  .mover {
    position: absolute; display: flex; justify-content: center; align-items: center; user-select: none; cursor: grab; z-index: 20;

    img { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
    svg { width: auto; max-width: 100%; height: auto; }
    &:active { cursor: grabbing; }

    @for $i from 1 through 3 {
      &.mover0#{$i} {
          opacity: calc(70% + (10% * $i));
          filter: brightness(calc(70% + (10% * $i)));
          &:hover {filter:brightness(calc(70% + (10% * $i))) drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));}
      }
   }
  
    &.mover01 { left: 74%; top: 12%; width: 65px;}
    &.mover02 { left: 10%; top: 22%; width: 120px;}
    &.mover03 { left: 68%; top: 62%; width: 188px; }

  }
}

.section02 {
  padding: 140px 0;

  .inner { max-width: 1240px; }
  .mainTit {
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-end;

    h2 {
      font-size: 56px; line-height: 1.3; font-weight: 400; color: var(--contantColor01);

      span { font-weight: 700; }
    }
  }
  .flexDiv {
    display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; margin: 100px 0 0;

    .imgArea {
      position: relative; width: 51%;

      figure {
        position: absolute; border-radius: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden;

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            background: url('/main/sec02_img0#{$i}.jpg') no-repeat center/cover; z-index:#{$i}; border:1px solid #ededed;
          }
        }
        &:nth-child(1) { left:10%; top:20%; width:36%; padding:18% 0;}
        &:nth-child(2) { right: 24%; top: 50%; width: 50%; padding: 25% 0;}
        &:nth-child(3) { right: 20px; top: 0; width: 60%; padding: 30% 0;}
      }
    }
    ul {
      width: 49%;

      li {
        padding: 28px 0; font-size: 16px; line-height: 1.5; letter-spacing: -0.4px; color: #585858; border-bottom: 1px solid #D9D9D9;

        &:first-child { padding-top: 0; }
      }
    }
  }
}

.section03 {
  padding:140px 0 0; background:#F1F6F5; overflow:hidden;
  .mainTit {
    h2 {margin:0 0 48px; font-size: 56px; font-weight: 700; line-height: 1.3; letter-spacing: -1.4px; color: #1C1C1C;}
  }
  .parallax {
    margin:100px 0 0;
    transform:rotate(-24deg);
    .skillScroll {
      display: flex;
      white-space: nowrap;
      flex-wrap: nowrap;
      width:max-content;
      margin:0 0 32px;
      &:last-child {margin:0;}
      .sec03_compo {margin:0 32px 0 0; background:#fff; border-radius:16px; overflow:hidden; box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
        div {display:flex; flex-direction:column; justify-content:center; align-items:center; width:220px; height:220px;}
        figure {width:80px; height:80px;}
        h2 {text-align: center; font-size: 16px; font-weight: 400; line-height: 1.5; color: #1C1C1C;}
      }
    }
  }
}

.section04 {
  padding: 140px 0; background: #FFF9F3; overflow:hidden;

  .mainTit {
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-end; margin: 0 0 60px;

    h2 { font-size: 56px; line-height: 1.3; font-weight: 700; color: var(--contantColor01); }
  }
  .mainProScroll {
    position: relative;

    .file {
      position: sticky; top: var(--header-height-); display: flex; justify-content: flex-start; height: calc(100vh - var(--header-height-));

      .fileCon {
        position: relative; display: flex; flex-direction: column; width: calc(100% - 70px); height: 80%; overflow: hidden; border-radius: 22px 0 0 0;

        .fileName {
          position: relative; display: block; width: 350px; height: 64px;

          h2 { position: absolute; display: flex; justify-content: flex-start; align-items: center; width: 100%; height: 100%; padding: 0 40px 0 28px; z-index: 2; overflow: hidden; }
          &::after { content: ''; position: absolute; left: 0; width: calc(100% - 32px); height: 0; border-bottom: 64px solid; border-right: 32px solid transparent; z-index: 1; }
        }
        .flexArea { width: 100%; height: calc(100% - 64px); border-radius: 0 22px 22px 22px; border: 2px solid #000; }
      }
      &.file0 {
        align-items: flex-start;

        .fileCon {
          .fileName {
            &::after { border-bottom-color: #FFDDA1; }
          }
          .flexArea { background: #FFDDA1; }
        }
      }
      &.file1 {
        justify-content: flex-end;

        .fileCon {
          .fileName {
            &::after { border-bottom-color: #AECDE7; }
          }
          .flexArea { background: #AECDE7; }
        }
      }
      &.file2 {
        justify-content: center;

        .fileCon {
          .fileName {
            &::after { border-bottom-color: #8FC49E; }
          }
          .flexArea { background: #8FC49E; }
        }
      }
    }
  }
}
