@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");


/*============================================================================================================
    리셋
============================================================================================================*/

body, body[data-theme="light"]{
  //footer
  --color-192227-292929:#192227;
  --color-192227-121212:#192227;
  --color-rgb255-4B4B4B:rgba(255,255,255,0.3);

  // orignBtn색
  --color-ED7B34-121212:#ED7B34;
  --color-77B3BA-121212:#77B3BA;

  // white to color
  --color-FFF-1C1C1C:#FFF;
  --color-FFF-1E1E1E:#FFF;
  --color-FFF-121212:#FFF;
  --color-FFF-B3B3B3:#FFF;
  --color-FFF-444:#FFF;
  --color-FFF-717171:#FFF;
  --color-FFF-252525:#FFF;
  // color to white
  --color-000-FFF:#000;
  --color-1C1C1C-FFF:#1C1C1C;
  --color-192227-FFF:#192227;
  --color-ED7B34-FFF:#ED7B34;
  --color-585858-FFF:#585858;
  // main
  --color-FFF0DE-292929:#FFF0DE;
  --color-ED7B34-292929:#ED7B34;
  --color-ED7B34-1E1E1E:#ED7B34;
  --color-585858-BBB:#585858;
  --color-D9D9D9-383838:#D9D9D9;
  --color-F1F6F5-1E1E1E:#F1F6F5;
  --color-sec04Bg-121212:linear-gradient(180deg, #FFF9F3 0%, #F1F6F5 100%);
  --color-sec04F1:#FFDDA1;
  --color-sec04F2:#AECDE7;
  --color-sec04F3:#8FC49E;
  // sub
  --color-subBg:linear-gradient(180deg, #ffefde 0%, #f1f6f5 100%);
  --color-1C1C1C-383838:#1C1C1C;
  --color-1C1C1C-BBB:#1C1C1C;
  --color-192227-383838:#192227;
  --color-192227-717171:#192227;
  --color-192227-D9D9D9:#192227;
  --color-192227-ED7B34:#192227;
  --color-192227-4B4B4B:#192227;
  --color-191919-717171:#191919;
  --color-E7F0EE-252525:#E7F0EE;
  --color-DDD-transparent:#DDD;
  --color-rgb255-1E1E1E:rgba(255,255,255,0.3);
  --color-ECECEC-383838:#ECECEC;
  --color-666-717171:#666;
  --color-D9D9D9-383838:#D9D9D9;
}

body[data-theme="dark"] {
  //footer
  --color-192227-292929:#292929;
  --color-192227-121212:#121212;
  --color-rgb255-4B4B4B:#4B4B4B;

  // orignBtn색
  --color-ED7B34-121212:#121212;
  --color-77B3BA-121212:#121212;

  // white to color
  --color-FFF-1C1C1C:#1C1C1C;
  --color-FFF-1E1E1E:#1E1E1E;
  --color-FFF-121212:#121212;
  --color-FFF-B3B3B3:#B3B3B3;
  --color-FFF-444:#444;
  --color-FFF-717171:#717171;
  --color-FFF-252525:#252525;
  // color to white
  --color-000-FFF:#FFF;
  --color-1C1C1C-FFF:#FFF;
  --color-192227-FFF:#FFF;
  --color-ED7B34-FFF:#FFF;
  --color-585858-FFF:#FFF;
  // main
  --color-FFF0DE-292929:#292929;
  --color-ED7B34-292929:#292929;
  --color-ED7B34-1E1E1E:#1E1E1E;
  --color-585858-BBB:#BBB;
  --color-D9D9D9-383838:#383838;
  --color-F1F6F5-1E1E1E:#1E1E1E;
  --color-sec04Bg-121212:#121212;
  --color-sec04F1:#FFC661;
  --color-sec04F2:#88B5DB;
  --color-sec04F3:#6BB780;
  // sub
  --color-subBg:#121212;
  --color-1C1C1C-383838:#383838;
  --color-1C1C1C-BBB:#BBB;
  --color-192227-383838:#383838;
  --color-192227-717171:#717171;
  --color-192227-D9D9D9:#D9D9D9;
  --color-192227-ED7B34:#ED7B34;
  --color-192227-4B4B4B:#4B4B4B;
  --color-191919-717171:#717171;
  --color-E7F0EE-252525:#252525;
  --color-DDD-transparent:transparent;
  --color-rgb255-1E1E1E:#252525;
  --color-ECECEC-383838:#383838;
  --color-666-717171:#717171;
  --color-D9D9D9-383838:#383838;
}

*{outline:0!important; box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
html,body{width:100%;}
body{width:100%; transition:background 0.3s ease; background:var(--color-FFF-121212); min-width:320px; -ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-text-size-adjust:100%;word-wrap:break-word;word-break:keep-all;}
body,input,select,textarea,button{border:none;font-size:12px;font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; color:var(--color-1C1C1C-FFF); transition:all 0.3s ease;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{width:100%;border:0;}
address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
.hide,caption,legend{line-height:0;font-size:1px;overflow:hidden;}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:var(--color-1C1C1C-FFF); text-decoration:none;}
img,svg {width:auto; max-width:100%;}
svg { transition:all 0.3s ease;}
/* Selection */
::-moz-selection {background:rgba(237,123,52,0.5);}
::selection {background:rgba(237,123,52,0.5);}

.poppins {font-family: 'Poppins', sans-serif;}



/*============================================================================================================
    레이아웃
============================================================================================================*/
:root { --header-height-: 80px; }

.inner {position:relative; max-width:1240px; width:100%; margin:0 auto; padding:0 20px;}

.only_pc {display:block;}
.only_m {display:none;}

@media all and (max-width:1024px){
  :root { --header-height-: 70px; }
}

@media all and (max-width:768px){
    :root { --header-height-: 65px; }
    .only_pc {display:none;}
    .only_m {display:block;}
}



.orignBtn {
  position: relative; display: flex; justify-content: space-between; align-items: center; width: 166px; height: 48px; padding: 0 20px; transition: all 0.3s ease;

  &::before { content: ''; position: absolute; top: 2px; left: 2px; right: -2px; bottom: -2px; width: 100%; height: 100%; border-radius: 24px; z-index: 1; transition: all 0.3s ease; }
  &::after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: calc(100% - 4px); height: calc(100% - 4px); border-radius: 24px; border: 2px solid; z-index: 2; }
  p { position: relative; font-size: 15px; font-weight: 500; z-index: 3;  transition:all 0.3s ease;}
  span {
    position: relative; display: flex; justify-content: center; align-items: center; width: 8px; height: 8px; border-radius: 100%; z-index: 3; transition: all 0.3s ease;

    svg { width: 0; transition: all 0.3s ease; }
  }
  &:hover {
    padding: 0 4px 0 20px;

    &::before { top: 6px; left: 6px; right: -6px; bottom: -6px; }
    span {
      width: 40px; height: 40px;

      svg {
        width: 15px;

        .fillColor { fill: var(--color-ED7B34-121212); }
        .strokeColor { stroke: var(--color-ED7B34-121212); }
      }
    }
  }
  &.orgBtn {
    &::before { background: var(--color-192227-FFF); }
    &::after { background: var(--color-ED7B34-121212); border-color: var(--color-192227-FFF); }
    p { color: var(--color-192227-FFF); }
    span { background: var(--color-192227-FFF); }
  }
  &.orgWBtn {
    &::before { background: #fff; }
    &::after { background: var(--color-ED7B34-121212); border-color: #fff; }
    p { color: #fff; }
    span { background: #fff; }
  }
  &.skyblue {
    &::before { background: var(--color-192227-FFF); }
    &::after { background: var(--color-77B3BA-121212); border-color: var(--color-192227-FFF); }
    p { color: var(--color-192227-FFF); }
    span { background: var(--color-192227-FFF); }
    &:hover {
      span {
        svg {
          .fillColor { fill: var(--color-77B3BA-121212); }
          .strokeColor { stroke: var(--color-77B3BA-121212); }
        }
      }
    }
  }
}

@media all and (max-width:1024px) {
  .orignBtn {
    width: 150px; height: 42px; padding: 0 20px;
  
    &::before { content: ''; position: absolute; top: 2px; left: 2px; right: -2px; bottom: -2px; width: 100%; height: 100%; border-radius: 21px; z-index: 1; transition: all 0.3s ease; }
    &::after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: calc(100% - 4px); height: calc(100% - 4px); border-radius: 24px; border: 2px solid; z-index: 2; }
    p {font-size: 13.5px;}
    span {
      width: 6px; height: 6px;
    }
    &:hover {
      padding: 0 6px 0 20px;
  
      &::before { top: 4px; left: 4px; right: -4px; bottom: -4px; }
      span {
        width: 32px; height: 32px;
  
        svg {
          width: 12.5px;
        }
      }
    }
  }
}

@media all and (max-width:768px) {
  .orignBtn {
    width: 30vw; height: 8.6vw; padding: 0 3vw;
  
    &::before {top: 0.4vw; left: 0.4vw; right: -0.4vw; bottom: -0.4vw; border-radius: 8.6vw;}
    &::after {width: calc(100% - 0.8vw); height: calc(100% - 0.8vw); border-radius: 8.6vw; border:0.4vw solid;}
    p {font-size:3vw;}
    span {
      width:1.2vw; height:1.2vw;
    }
    &:hover {
      padding: 0 1vw 0 3vw;
  
      &::before { top: 0.8vw; left: 0.8vw; right: -0.8vw; bottom: -0.8vw; }
      span {
        width: 7.2vw; height: 7.2vw;
  
        svg {
          width: 2.5vw;
        }
      }
    }
  }
}


// 해더
.header {
  position: fixed; left: 0; right: 0; top: 0; height: var(--header-height-); z-index:8000; transition:background 0.3s ease;

  > div { display: flex; justify-content: space-between; align-items: center; width: 100%; max-width: 1600px; margin: 0 auto; }
  h1 a { display: flex; justify-content: center; align-items: center; height: var(--header-height-); font-size: 20px; color: var(--color-ED7B34-FFF); }
  nav {
    display: flex; justify-content: flex-end; align-items: center;

    .gnb {
      display: flex; align-items: center;

      li a {display:block; padding: 0 24px; line-height: var(--header-height-); font-size: 16px; color: var(--color-1C1C1C-FFF); }
    }
  }
  .colorModeBtn {
    position: relative; display: flex; width: 64px; height: 32px; margin: 0 0 0 24px; padding: 4px; background: var(--color-ED7B34-FFF); border-radius: 16px; transition: background 0.3s linear; cursor:pointer;

    span { position: absolute; top: calc(50% - 12px); display: block; width: 24px; height: 24px; border-radius: 100%; background:#1E1E1E; transition: left 0.3s linear; z-index: 2; }
    svg {
      position: absolute; top: calc(50% - 10px); width: 20px; height: 20px; transform: rotate(-180deg); opacity: 0; transition: all 0.3s ease;

      &.darkSvg { left: 8px; }
      &.lightSvg { right: 8px; }
    }
    &.light {
      span { left: 4px; }
      svg {
        &.darkSvg { transform: rotate(-180deg); opacity: 0; }
        &.lightSvg { transform: rotate(0); opacity: 1; }
      }
    }
    &.dark {
      span { left: calc(100% - 28px); }
      svg {
        &.darkSvg { transform: rotate(0); opacity: 1; }
        &.lightSvg { transform: rotate(-180deg); opacity: 0; }
      }
    }
  }
  &.scroll {background:var(--color-FFF-1C1C1C);}
}

@media all and (max-width:1024px){
  .header {
    h1 a {font-size: 18px;}
    nav {
      .gnb {
        li a { padding: 0 18px; font-size:15px;}
      }
    }
    .colorModeBtn {
      position: relative; display: flex; width: 52px; height: 28px; margin: 0 0 0 18px; padding: 3px; border-radius: 16px;
  
      span {top: calc(50% - 10px); width: 20px; height: 20px;}
      svg {
        top: calc(50% - 9px); width: 18px; height: 18px;
  
        &.darkSvg { left: 6px; }
        &.lightSvg { right: 6px; }
      }
      &.light {
        span { left: 4px; }
        svg {
          &.darkSvg { transform: rotate(-180deg); opacity: 0; }
          &.lightSvg { transform: rotate(0); opacity: 1; }
        }
      }
      &.dark {
        span { left: calc(100% - 24px); }
        svg {
          &.darkSvg { transform: rotate(0); opacity: 1; }
          &.lightSvg { transform: rotate(-180deg); opacity: 0; }
        }
      }
    }
  }

}

@media all and (max-width:768px){
  .header {
    nav {
      .gnb {display:none;}
    }
    .colorModeBtn {margin:0 10px 0 0;}

    // .colorModeBtn {
    //   position: relative; display: flex; width: 11vw; height: 5.6vw; margin: 0; padding:0.6vw; border-radius:6vw;
  
    //   span {top: calc(50% - 2.2vw); width: 4.4vw; height:4.4vw;}
    //   svg {
    //     top: calc(50% - 2vw); width: 4vw; height: 4vw;
  
    //     &.darkSvg { left: 1.2vw; }
    //     &.lightSvg { right: 1.2vw; }
    //   }
    //   &.lightmode {
    //     span { left: 0.6vw; }
    //   }
    //   &.darkmode {
    //     span { left: calc(100% - 5vw); }
    //   }
    // }
  }

}

.header .toggle { display: none; }
.header .tgbox {
  position: fixed; top: 0; left: auto; bottom: 0; right: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 0; max-width: 300px; height: 100%; background: var(--color-FFF-B3B3B3); transition: width 0.5s ease; z-index: 5000; overflow: scroll;

  .closeToggle {
    position: absolute; right: 20px; top: calc(var(--header-height-) / 2 - 25px); width: 50px; height: 50px; cursor: pointer;

    span {
      position: absolute; display: inline-block; height: 2px; position: absolute; background: var(--color-1C1C1C-FFF); opacity: 1; transition: all 0.3s ease;

      &:nth-child(1) { left: 17%; top: 50%; margin-top: 0; width: 34px; transform: rotate(45deg)}
      &:nth-child(2) { left: 17%; top: 50%; margin-bottom: 0; width: 34px; transform: rotate(-45deg)}
    }
  }
  ul {
    text-align: center;

    li {
      margin: 0 0 20px;

      &:last-child { margin: 0; }
      a { font-size: 36px; font-weight: 500; color: var(--color-1C1C1C-FFF); }
    }
  }
  &.active { width: 100%; }
}

@media all and (max-width:768px) {
  .header .toggle {
    position: relative; display: block; width: 50px; height: 50px; cursor: pointer;

    span {
      position: absolute; display: inline-block; height: 2px; position: absolute; background: var(--color-1C1C1C-FFF); opacity: 1; transition: all 0.3s ease;

      &:nth-child(1) { width: 20px; top: calc(50% - 7px); left: calc(50% - 14px); }
      &:nth-child(2) { width: 28px; top: calc(50% - 1px); left: calc(50% - 14px); }
      &:nth-child(3) { width: 20px; top: calc(50% + 5px); left: calc(50% - 14px); }
    }
    &.active {
      span {
        &:nth-child(1) { left: 17%; top: 50%; margin-top: 0; width: 34px; transform: rotate(45deg)}
        &:nth-child(2) { left: 0; opacity: 0; }
        &:nth-child(3) { left: 17%; top: 50%; margin-bottom: 0; width: 34px; transform: rotate(-45deg)}
      }
    }
  }
  .header .tgbox {
    ul {
      li {
        margin: 0 0 3vw;

        &:last-child { margin: 0; }
        a { font-size: 5.4vw; }
      }
    }
  }
}


// 푸터
.footer {
	margin:-8.9vw 0 0; padding:8.9vw 0 0; overflow:hidden;
    > div {background:var(--color-192227-292929); transition:background 0.3s ease;}
	.inner { position: relative; max-width: 1240px; margin: 0 auto; padding: 0 20px; z-index: 10; }
	.footerLink {display:flex; flex-direction:row; flex-wrap:wrap; align-items:flex-end; padding: 80px 0 100px; 
		.leftArea {width:68%;
			h2 {margin:0 0 40px; font-size:56px; line-height:1.3; font-weight:700; color:#fff;}
		}
		.rightArea {width:32%;
			ul {margin:16px 0 0;
				li {margin:0 0 10px;
					&:last-child {margin:0;}
					a {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; width:100%; min-height:40px; padding:6px 15px; font-size:14px; font-weight:400; color:#fff; transition:color 0.3s ease; border:1px solid rgba(255,255,255,0.3); border-radius:40px;
						span {width:24px; margin:0 10px 0 0;}
						p {width:calc(100% - 34px);}
					}
				}
			}
		}
	}
	.copyright {
		display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; height: 48px; border-top: 1px solid var(--color-rgb255-4B4B4B);
		p { font-size: 14px; color: #969696; }
		div {
			display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center; cursor: pointer;

			p { font-size: 14px; font-weight: 400; color: #fff; }
			span {
				display: flex; justify-content: center; align-items: center; width: 24px; height: 24px; margin: 0 0 0 8px; background: #fff; border-radius: 50%;

				svg {
					.fillColor { fill: var(--color-192227-121212); }
				}
			}
		}
	}
}

// 구름 디자인
.cloudScroll {
	display: flex; white-space: nowrap; flex-wrap: nowrap; width: max-content; z-index: 1;

	div {
		position: relative; width: 100vw;

		span {
			position: absolute; width: 17.8vw; height: 17.8vw; background:var(--color-192227-292929); border-radius: 50%; transition: all 0.3s ease;

			&:nth-child(1) { left: -3.125vw; top: -3.95vw; }
			&:nth-child(2) { left: 8.5vw; top: -8.6vw; }
			&:nth-child(3) { left: 20.4vw; top: -6.25vw; }
			&:nth-child(4) { left: 34.7vw; top: -8.02vw; }
			&:nth-child(5) { left: 42.7vw; top: -5.05vw; }
			&:nth-child(6) { left: 52.76vw; top: -2.6vw; }
			&:nth-child(7) { left: 64.84vw; top: -3.38vw; }
			&:nth-child(8) { left: 75.52vw; top: -6.25vw; }
			&:nth-child(9) { left: 87vw; top: -1.45vw; }
		}
	}
}

@media all and (max-width:1024px) {
  .footer {
    .footerLink {
      padding: 60px 0 80px;

      .leftArea {
        width: 60%;

        h2 { margin: 0 0 32px; font-size: 44px; }
      }
      .rightArea {
        width: 40%;

        ul {
          margin: 13px 0 0;

          li {
            margin: 0 0 8px;

            &:last-child { margin: 0; }
            a {
              min-height: 38px; padding: 5px 12px; font-size: 13px; border-radius: 38px;

              span { width: 22px; margin: 0 8px 0 0; }
              p { width: calc(100% - 30px); }
            }
          }
        }
      }
    }
    .copyright {
      height: 44px;

      p { font-size: 13px; }
      div {
        p { font-size: 13px; }
        span { width: 22px; height: 22px; margin: 0 0 0 6px; }
      }
    }
  }
}

@media all and (max-width:768px){
  .footer {
    .footerLink {
      display:block; padding: 12vw 0;

      .leftArea {
        display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:space-between; align-items:center; width:100%; margin:0 0 8vw;
        h2 { margin:0; font-size:7vw; }
      }
      .rightArea {
        width: 100%;

        ul {
          margin:0;

          li {
            margin: 0 0 1.2vw;
            
            &:last-child { margin: 0; }
            a {
              min-height:7.6vw; padding:1vw 2vw; font-size:2.6vw; border-radius:7.6vw;

              span { width: 3.8vw; margin: 0 1.2vw 0 0; }
              p { width: calc(100% - 5vw); }
            }
          }
        }
      }
    }
    .copyright {
      height: 8.8vw;

      p { font-size:2.8vw; }
      div {
        p { font-size: 2.8vw; }
        span { width: 4.4vw; height:4.4vw; margin: 0 0 0 1.2vw; }
      }
    }
  }
}

// 로딩중
.loadingDiv {position: fixed; left: 0; right: 0; top: 0; bottom:0; display:flex; justify-content:center; align-items:center; background:#fff0de; z-index:9000;}