@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");

@import "./mixins.scss";


/*============================================================================================================
    리셋
============================================================================================================*/

body, body[data-theme="light"]{
    --color0-f:#000;
    --colorf-0:#fff;

    --contantColor01:#1c1c1c;

    --colorModeBtnBg:#ED7B34;
    --colorModeBtnColor:#192227;

    --colorModeBtnBg2:#77B3BA;
    --colorModeBtnColor2:#192227;

    --colorModeBtnBg3:#ED7B34;
    --colorModeBtnColor3:#fff;
}

body[data-theme="dark"] {
    --color0-f:#fff;
    --colorf-0:#000;
    
    --contantColor01:#fff;

    --colorModeBtnBg:#192227;
    --colorModeBtnColor:#ED7B34;

    --colorModeBtnBg2:#192227;
    --colorModeBtnColor2:#77B3BA;

    --colorModeBtnBg3:#fff;
    --colorModeBtnColor3:#ED7B34;

}

*{outline:0!important; box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
html,body{width:100%;}
body{width:100%; transition:background 0.3s ease; background:var(--colorf-0);min-width:320px; -ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-text-size-adjust:100%;word-wrap:break-word;word-break:keep-all;}
body,input,select,textarea,button{border:none;font-size:12px;font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;color:var(--color0-f); transition:all 0.3s ease;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{width:100%;border:0;}
address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
.hide,caption,legend{line-height:0;font-size:1px;overflow:hidden;}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:var(--color0-f);  transition:all 0.3s ease; text-decoration:none;}
img,svg {width:auto; max-width:100%;}
svg { transition:all 0.3s ease;}
/* Selection */
::-moz-selection {background:rgba(0,0,0,0.5);}
::selection {background:rgba(0,0,0,0.5);}

.poppins {font-family: 'Poppins', sans-serif;}



/*============================================================================================================
    레이아웃
============================================================================================================*/
:root { --header-height-: 80px; }

.inner {position:relative; max-width:1240px; width:100%; margin:0 auto; padding:0 20px;}

.only_pc {display:block;}
.only_m {display:none;}

@media all and (max-width:1024px){
  :root { --header-height-: 70px; }
}

@media all and (max-width:768px){
    :root { --header-height-: 65px; }
    .only_pc {display:none;}
    .only_m {display:block;}
}



.orignBtn {
  position: relative; display: flex; justify-content: space-between; align-items: center; width: 166px; height: 48px; padding: 0 20px; transition: all 0.3s ease;

  &::before { content: ''; position: absolute; top: 2px; left: 2px; right: -2px; bottom: -2px; width: 100%; height: 100%; border-radius: 24px; z-index: 1; transition: all 0.3s ease; }
  &::after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: calc(100% - 4px); height: calc(100% - 4px); border-radius: 24px; border: 2px solid; z-index: 2; }
  p { position: relative; font-size: 15px; font-weight: 500; z-index: 3;  transition:all 0.3s ease;}
  span {
    position: relative; display: flex; justify-content: center; align-items: center; width: 8px; height: 8px; border-radius: 100%; z-index: 3; transition: all 0.3s ease;

    svg { width: 0; transition: all 0.3s ease; }
  }
  &:hover {
    padding: 0 4px 0 20px;

    &::before { top: 6px; left: 6px; right: -6px; bottom: -6px; }
    span {
      width: 40px; height: 40px;

      svg {
        width: 15px;

        .fillColor { fill: var(--colorModeBtnBg); }
        .strokeColor { stroke: var(--colorModeBtnBg); }
      }
    }
  }
  &.orgBtn {
    &::before { background: var(--colorModeBtnColor); }
    &::after { background: var(--colorModeBtnBg); border-color: var(--colorModeBtnColor); }
    p { color: var(--colorModeBtnColor); }
    span { background: var(--colorModeBtnColor); }
    &:hover {
      span {
        svg {
          .fillColor { fill: var(--colorModeBtnBg); }
          .strokeColor { stroke: var(--colorModeBtnBg); }
        }
      }
    }
  }
  &.orgWBtn {
    &::before { background: var(--colorModeBtnColor3); }
    &::after { background: var(--colorModeBtnBg3); border-color: var(--colorModeBtnColor3); }
    p { color: var(--colorModeBtnColor3); }
    span { background: var(--colorModeBtnColor3); }
    &:hover {
      span {
        svg {
          .fillColor { fill: var(--colorModeBtnBg); }
          .strokeColor { stroke: var(--colorModeBtnBg); }
        }
      }
    }
  }
  &.skyblue {
    &::before { background: var(--colorModeBtnColor2); }
    &::after { background: var(--colorModeBtnBg2); border-color: var(--colorModeBtnColor2); }
    p { color: var(--colorModeBtnColor2); }
    span { background: var(--colorModeBtnColor2); }
    &:hover {
      span {
        svg {
          .fillColor { fill: var(--colorModeBtnBg2); }
          .strokeColor { stroke: var(--colorModeBtnBg2); }
        }
      }
    }
  }
}

@media all and (max-width:1024px) {
  .orignBtn {
    width: 150px; height: 42px; padding: 0 20px;
  
    &::before { content: ''; position: absolute; top: 2px; left: 2px; right: -2px; bottom: -2px; width: 100%; height: 100%; border-radius: 21px; z-index: 1; transition: all 0.3s ease; }
    &::after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: calc(100% - 4px); height: calc(100% - 4px); border-radius: 24px; border: 2px solid; z-index: 2; }
    p {font-size: 13.5px;}
    span {
      width: 6px; height: 6px;
    }
    &:hover {
      padding: 0 6px 0 20px;
  
      &::before { top: 4px; left: 4px; right: -4px; bottom: -4px; }
      span {
        width: 32px; height: 32px;
  
        svg {
          width: 12.5px;
        }
      }
    }
  }
}

@media all and (max-width:768px) {
  .orignBtn {
    width: 28vw; height: 8.6vw; padding: 0 3vw;
  
    &::before {top: 0.4vw; left: 0.4vw; right: -0.4vw; bottom: -0.4vw; border-radius: 8.6vw;}
    &::after {width: calc(100% - 0.8vw); height: calc(100% - 0.8vw); border-radius: 8.6vw; border:0.4vw solid;}
    p {font-size:3vw;}
    span {
      width:1.2vw; height:1.2vw;
    }
    &:hover {
      padding: 0 1vw 0 3vw;
  
      &::before { top: 0.8vw; left: 0.8vw; right: -0.8vw; bottom: -0.8vw; }
      span {
        width: 7.2vw; height: 7.2vw;
  
        svg {
          width: 2.5vw;
        }
      }
    }
  }
}


// 해더
.header {
  position: fixed; left: 0; right: 0; top: 0; height: var(--header-height-); z-index:8000;

  > div { display: flex; justify-content: space-between; align-items: center; width: 100%; max-width: 1600px; margin: 0 auto; }
  h1 a { display: flex; justify-content: center; align-items: center; height: var(--header-height-); font-size: 20px; color: var(--contantColor01); }
  nav {
    display: flex; justify-content: flex-end; align-items: center;

    .gnb {
      display: flex; align-items: center;

      li a {display:block; padding: 0 24px; line-height: var(--header-height-); font-size: 16px; color: var(--contantColor01); }
    }
  }
  .colorModeBtn {
    position: relative; display: flex; width: 64px; height: 32px; margin: 0 0 0 24px; padding: 4px; background: var(--colorModeBtnBg); border-radius: 16px; transition: background 0.3s linear; cursor: pointer;

    span { position: absolute; top: calc(50% - 12px); display: block; width: 24px; height: 24px; border-radius: 100%; background: var(--colorModeBtnColor); transition: left 0.3s linear; z-index: 2; }
    svg {
      position: absolute; top: calc(50% - 10px); width: 20px; height: 20px; transform: rotate(-180deg); opacity: 0; transition: all 0.3s ease;

      &.darkSvg { left: 8px; }
      &.lightSvg { right: 8px; }
    }
    &.lightmode {
      span { left: 4px; }
      svg {
        &.darkSvg { transform: rotate(-180deg); opacity: 0; }
        &.lightSvg { transform: rotate(0); opacity: 1; }
      }
    }
    &.darkmode {
      span { left: calc(100% - 28px); }
      svg {
        &.darkSvg { transform: rotate(0); opacity: 1; }
        &.lightSvg { transform: rotate(-180deg); opacity: 0; }
      }
    }
  }
}

@media all and (max-width:1024px){
  .header {
    h1 a {font-size: 18px;}
    nav {
      .gnb {
        li a { padding: 0 18px; font-size:15px;}
      }
    }
    .colorModeBtn {
      position: relative; display: flex; width: 52px; height: 28px; margin: 0 0 0 18px; padding: 3px; border-radius: 16px;
  
      span {top: calc(50% - 10px); width: 20px; height: 20px;}
      svg {
        top: calc(50% - 9px); width: 18px; height: 18px;
  
        &.darkSvg { left: 6px; }
        &.lightSvg { right: 6px; }
      }
      &.lightmode {
        span { left: 4px; }
        svg {
          &.darkSvg { transform: rotate(-180deg); opacity: 0; }
          &.lightSvg { transform: rotate(0); opacity: 1; }
        }
      }
      &.darkmode {
        span { left: calc(100% - 24px); }
        svg {
          &.darkSvg { transform: rotate(0); opacity: 1; }
          &.lightSvg { transform: rotate(-180deg); opacity: 0; }
        }
      }
    }
  }

}

@media all and (max-width:768px){
  .header {
    nav {
      .gnb {display:none;}
    }
    // .colorModeBtn {
    //   position: relative; display: flex; width: 11vw; height: 5.6vw; margin: 0; padding:0.6vw; border-radius:6vw;
  
    //   span {top: calc(50% - 2.2vw); width: 4.4vw; height:4.4vw;}
    //   svg {
    //     top: calc(50% - 2vw); width: 4vw; height: 4vw;
  
    //     &.darkSvg { left: 1.2vw; }
    //     &.lightSvg { right: 1.2vw; }
    //   }
    //   &.lightmode {
    //     span { left: 0.6vw; }
    //   }
    //   &.darkmode {
    //     span { left: calc(100% - 5vw); }
    //   }
    // }
  }

}

// 푸터
.footer {
	margin:-8.9vw 0 0; padding:8.9vw 0 0; overflow:hidden;
    > div {background:#192227; transition:all 0.3s ease;}
	.inner { position: relative; max-width: 1240px; margin: 0 auto; padding: 0 20px; z-index: 10; }
	.footerLink {display:flex; flex-direction:row; flex-wrap:wrap; align-items:flex-end; padding: 80px 0 100px; 
		.leftArea {width:68%;
			h2 {margin:0 0 40px; font-size:56px; line-height:1.3; font-weight:700; color:#fff;}
		}
		.rightArea {width:32%;
			ul {margin:16px 0 0;
				li {margin:0 0 10px;
					&:last-child {margin:0;}
					a {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; width:100%; min-height:40px; padding:6px 15px; font-size:14px; font-weight:400; color:#fff; transition:color 0.3s ease; border:1px solid rgba(255,255,255,0.3); border-radius:40px;
						span {width:24px; margin:0 10px 0 0;}
						p {width:calc(100% - 34px);}
					}
				}
			}
		}
	}
	.copyright {
		display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; height: 48px; border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
		p { font-size: 14px; color: #969696; }
		div {
			display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center; cursor: pointer;

			p { font-size: 14px; font-weight: 400; color: #fff; }
			span {
				display: flex; justify-content: center; align-items: center; width: 24px; height: 24px; margin: 0 0 0 8px; background: #fff; border-radius: 50%;

				svg {
					.fillColor { fill: #192227; }
				}
			}
		}
	}
}

// 구름 디자인
.cloudScroll {
	display: flex; white-space: nowrap; flex-wrap: nowrap; width: max-content; z-index: 1;

	div {
		position: relative; width: 100vw;

		span {
			position: absolute; width: 17.8vw; height: 17.8vw; background: #192227; border-radius: 50%; transition: all 0.3s ease;

			&:nth-child(1) { left: -3.125vw; top: -3.95vw; }
			&:nth-child(2) { left: 8.5vw; top: -8.6vw; }
			&:nth-child(3) { left: 20.4vw; top: -6.25vw; }
			&:nth-child(4) { left: 34.7vw; top: -8.02vw; }
			&:nth-child(5) { left: 42.7vw; top: -5.05vw; }
			&:nth-child(6) { left: 52.76vw; top: -2.6vw; }
			&:nth-child(7) { left: 64.84vw; top: -3.38vw; }
			&:nth-child(8) { left: 75.52vw; top: -6.25vw; }
			&:nth-child(9) { left: 87vw; top: -1.45vw; }
		}
	}
}

@media all and (max-width:1024px) {
  .footer {
    .footerLink {
      padding: 60px 0 80px;

      .leftArea {
        width: 60%;

        h2 { margin: 0 0 32px; font-size: 44px; }
      }
      .rightArea {
        width: 40%;

        ul {
          margin: 13px 0 0;

          li {
            margin: 0 0 8px;

            &:last-child { margin: 0; }
            a {
              min-height: 38px; padding: 5px 12px; font-size: 13px; border-radius: 38px;

              span { width: 22px; margin: 0 8px 0 0; }
              p { width: calc(100% - 30px); }
            }
          }
        }
      }
    }
    .copyright {
      height: 44px;

      p { font-size: 13px; }
      div {
        p { font-size: 13px; }
        span { width: 22px; height: 22px; margin: 0 0 0 6px; }
      }
    }
  }
}

@media all and (max-width:768px){
  .footer {
    .footerLink {
      display:block; padding: 12vw 0;

      .leftArea {
        display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:space-between; align-items:center; width:100%; margin:0 0 8vw;
        h2 { margin:0; font-size:7vw; }
      }
      .rightArea {
        width: 100%;

        ul {
          margin:0;

          li {
            margin: 0 0 1.2vw;
            
            &:last-child { margin: 0; }
            a {
              min-height:7.6vw; padding:1vw 2vw; font-size:2.6vw; border-radius:7.6vw;

              span { width: 3.8vw; margin: 0 1.2vw 0 0; }
              p { width: calc(100% - 5vw); }
            }
          }
        }
      }
    }
    .copyright {
      height: 8.8vw;

      p { font-size:2.8vw; }
      div {
        p { font-size: 2.8vw; }
        span { width: 4.4vw; height:4.4vw; margin: 0 0 0 1.2vw; }
      }
    }
  }
}

// 로딩중
.loadingDiv {position: fixed; left: 0; right: 0; top: 0; bottom:0; display:flex; justify-content:center; align-items:center; background:#fff0de; z-index:9000;}